
.card{
    &-frame{
        width: 100%;
        height: 540px;
        overflow: hidden;
        @include pad{
            height: 350px;
        }
    }
    &-img{
        height: 100%;
    }
    &-product-img{
        min-width: 100%;
        height: 255px;
        @include pad{
            height: 330px;
        }
        @include mobile{
            height: 345px;
        }
    }
    &-title{
        font-size: $font-size-base*1.5;
        font-weight: bold;
        @include mobile{
            font-size: $font-size-base*1.25;
        }
    }
    &-subtitle{
        font-weight: lighter;
    }
    &-content{
        font-weight: lighter;
    }
}