

// 文字大小
@include mobile{
    .h1-sm{//40
        font-size: $font-size-base*2.5;
    }
    .h2-sm{//32
        font-size: $font-size-base*2;
    }
    .h3-sm{//28
        font-size: $font-size-base*1.75;
    }
    .h4-sm{//24
        font-size: $font-size-base*1.5;
    }
    .h5-sm{//20
        font-size: $font-size-base*1.25;
    }
    .h6-sm{//16
        font-size: $font-size-base;
    }
}

.font-size-sm{//14
    font-size: $font-size-sm;
}

.font-size-xs{//12
    font-size: $font-size-base*0.75;
}

//position定位
.position-md-absolute{
   position: absolute;
   @include mobile{
       position: static;
   }
}
.right-0{
    right: 0px;
}

//object-position
.object-position-right{
    object-position: right;
}
.object-position-left{
    object-position: left;
}
.object-position-bottom{
    object-position: bottom;
}
.object-position-top{
    object-position: top;
}
.object-position-center{
    object-position: center;
}
.object-positionY-2-25{
    object-position: 0px $spacer*-2.25;
}

@include pad{
    .object-positionX-md-2-25{
        object-position: $spacer*-2.25;
    }
    .object-positionX-md-17{
        object-position: $spacer*-17;
    }
}

@include mobile{
    .object-positionX-sm-0{
        object-position: $spacer*0;
    }
    .object-position-sm-right{
        object-position: right;
    }
    .object-position-sm-bottom{
        object-position: bottom;
    }
}

